.mat-1 {
    margin-top: 1rem;
}
.mat-2 {
    margin-top: 2rem;
}
.mat-3 {
    margin-top: 3rem;
}
.mat-4 {
    margin-top: 4rem;
}
.mat-5 {
    margin-top: 5rem;
}
.mat-6 {
    margin-top: 6rem;
}




.mab-1 {
    margin-bottom: 1rem;
}
.mab-2 {
    margin-bottom: 2rem;
}
.mab-3 {
    margin-bottom: 3rem;
}
.mab-4 {
    margin-bottom: 4rem;
}
.mab-5 {
    margin-bottom: 5rem;
}
.mab-6 {
    margin-bottom: 6rem;
}

