@import "../Basics/colors.less";
@import "../Basics/basic.fonts.less";

.title {
}

.title-desk {
  .title;
  font-size: 5rem;
}

.title-mob {
  .title;
  font-size: 3rem;
}

.btn-page-desk {
  width: 30%;
  font-size: 2.3rem;
  margin-bottom: 3%;
}

.btn-page-mob {
  width: 90%;
  font-size: 1.8rem;
}

.btn-cont-desk {
  margin-top: 25%;
  text-align: center;
}

.btn-cont-mob {
  margin-top: 95%;
  text-align: center;
}
