@import "../Basics/colors.less";
@import "../Basics/basic.fonts.less";

.ub-btn {
  border-radius: 50%;
  margin-top: 1%;
  margin-left: 2%;
  background-color: @cyan;
}

.ub-btn-desk {
  .ub-btn;
  width: 5.5rem;

}

.ub-btn-mob {
  .ub-btn;
  width: 4rem;

}
